<?xml version="1.0" encoding="UTF-8"?>
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/2022batch
		</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">root</property>
		<property name="show_sql">true</property>
		<mapping resource="one2one_pk.xml" />
		<mapping resource="one2one_fk.xml" />
		<mapping resource="one2many_fk.xml" />
		<mapping resource="one2many_join_table.xml" />
	</session-factory>
</hibernate-configuration>